@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Noto+Serif&display=swap');

.p1 {
	text-align: left;
	font-weight: bolder;
}

.p2 {
	text-align: center;
	font-weight: bolder;
    
}


body{
	background-color: blue;
	font-family: 'Noto Serif', serif;
	font-family: 'Barlow Condensed', sans-serif;
    
	

}

body img{
	text-align: center;
	
	
}



section{
		display: flex;
	flex-direction: row;
}

article{
	font-size:14.3px;
	font-style:bold;
}

div{
	text-align: center;
}

a:hover{
	color: red;
	text-shadow: 4px 4px 5px white;
}

h1{
	text-shadow: 4px 4px 5px white;
	text-decoration: underline;
	font-style:italic;
	text-align:center;
}

h2{
	font-size: 100%;
	font-style: bold;
	text-decoration: underline;   
}